.header {
    display: flex;
    flex-direction: row;
    
    flex: 1 1 20%;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    

}
.list {
    border: 5px dotted darkcyan;
}
.h1{
    background-color: wheat;
    border: 5px solid darkcyan;
    border-radius: 60px 30px 60px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    padding: 0px;
    margin: 0px;
    height: 45px;
    width: 100%;
    
}

#inhalt{
    display:flex;
    flex-direction:column;
    border: 5px solid darkcyan;
    border-radius: 33%;
    background-color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    justify-content: center;
    align-items: center;  
    text-align: center;
    margin-bottom: 30px;
    
}
.box{
    display: grid;
    border: 3px dotted darkcyan;
    width: 300px;
    height: 700px;
}